html,
body {
  min-height: 100%;
}

#__next {
  height: 100%;
}

code {
  font-family: 'Inter', sans-serif, -apple-system, BlinkMacSystemFont,
    'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue';
  padding: 0.1rem 0.4rem;
  font-size: 90%;
  color: #d400ff;
  border-radius: 0.1335rem;
}
code:not([class*='language-']):before,
code:not([class*='language-']):after {
  content: '`';
}
code[class*='language-'] {
  padding: 0;
}

/* OutlinedInput disabled design */
.css-1wxwjf-MuiInputBase-root-MuiOutlinedInput-root.Mui-disabled {
  background: rgba(76, 78, 100, 0.12) !important;
}
.css-z08spr-MuiInputBase-root-MuiOutlinedInput-root.Mui-disabled
  .MuiOutlinedInput-notchedOutline {
  background: rgba(76, 78, 100, 0.12) !important;
}
/* Select component disabled design */
.css-oagach-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.Mui-disabled {
  background: rgba(76, 78, 100, 0.12) !important;
}

/* TextField disabled design */
.css-127u85g-MuiInputBase-root-MuiOutlinedInput-root.Mui-disabled {
  background: rgba(76, 78, 100, 0.12) !important;
}
.css-1l2ldj5-MuiInputBase-root-MuiOutlinedInput-root.Mui-disabled
  .MuiOutlinedInput-notchedOutline {
  background: rgba(76, 78, 100, 0.12) !important;
}

/* CustomInput disabled design */
.css-d5up4r-MuiInputBase-root-MuiOutlinedInput-root.Mui-disabled {
  background: rgba(76, 78, 100, 0.12) !important;
}
