html,
body {
  min-height: 100%;
}

#__next {
  height: 100%;
}

code {
  font-family:
    'Inter',
    sans-serif,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue';
  padding: 0.1rem 0.4rem;
  font-size: 90%;
  color: #d400ff;
  border-radius: 0.1335rem;
}
code:not([class*='language-']):before,
code:not([class*='language-']):after {
  content: '`';
}
code[class*='language-'] {
  padding: 0;
}

.filterFormControl {
  label {
    transform: translate(14px, 12px) scale(1);
  }

  label.Mui-focused,
  label.MuiFormLabel-filled {
    transform: translate(14px, -9px) scale(0.75);
  }
}

.filterFormSoloAutoComplete {
  .MuiAutocomplete-hasClearIcon {
    label {
      transform: translate(14px, -9px) scale(0.75);
    }
    .MuiInputBase-root {
      padding: 4px 12px;
    }
  }

  .Mui-focused {
    .MuiInputBase-root {
      padding: 0 12px;
    }
  }

  .MuiFormControl-root,
  .MuiInputBase-root {
    height: 46px;
  }
  label {
    transform: translate(14px, 12px) scale(1);
  }

  label.Mui-focused,
  label.MuiFormLabel-filled {
    transform: translate(14px, -9px) scale(0.75);
  }
}

.filterFormAutoComplete {
  .MuiAutocomplete-hasClearIcon {
    label {
      transform: translate(14px, -9px) scale(0.75);
    }
    .MuiInputBase-root {
      padding: 7px 12px;
    }
  }
  .Mui-focused.MuiAutocomplete-hasClearIcon {
    .MuiFormControl-root,
    .MuiInputBase-root {
      height: 100%;
    }
    .MuiInputBase-root {
      padding-top: 12px;
    }
  }

  .MuiFormControl-root,
  .MuiInputBase-root {
    height: 46px;
  }
  label {
    transform: translate(14px, 12px) scale(1);
  }

  label.Mui-focused,
  label.MuiFormLabel-filled {
    transform: translate(14px, -9px) scale(0.75);
  }

  .MuiChip-root {
    height: 24px;
    /* margin: 0 !important; */
  }
}

/* OutlinedInput disabled design */
.MuiOutlinedInput-root.Mui-disabled .MuiOutlinedInput-notchedOutline {
  background: rgba(76, 78, 100, 0.12) !important;
}

/* Select component disabled design */
.MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.Mui-disabled {
  background: rgba(76, 78, 100, 0.12) !important;
}

.MuiOutlinedInput-input.Mui-disabled {
  -webkit-text-fill-color: rgba(76, 78, 100, 0.87) !important;
}

.MuiAutocomplete-endAdornment {
  .MuiAutocomplete-popupIndicator.Mui-disabled {
    display: none !important;
  }
}

.disabled-hyphen {
  .MuiOutlinedInput-input.Mui-disabled {
    -webkit-text-fill-color: rgba(76, 78, 100, 0.38) !important;
  }
}

.MuiTabs-flexContainer {
  height: 48px;
}

.MuiTab-root {
  min-height: 48px !important;
  padding: 12px 16px;
}

/* number type input에 number 화살표 제거 */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.fc-popover {
  max-width: 217px;
}

.scroll_bar {
  overflow-x: auto;
}

.scroll_bar::-webkit-scrollbar {
  background-color: transparent;
  width: 0;
  height: 5px;
}

.scroll_bar:hover::-webkit-scrollbar {
  width: 3px;
  height: 5px;
  border-radius: 20px;
}

.scroll_bar:hover::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
}

.sticky_header {
  width: 100%;
}

/*TODO : 임시 배경색 넣어둔 부분 - 차후 삭제할 것*/
.client_bg {
  background-color: rgba(238, 240, 229, 0.6) !important;
}

.pro_bg {
  background-color: rgba(221, 230, 237, 0.5) !important;
}

/* "MuiInputBase-root MuiOutlinedInput-root MuiInputBase-colorPrimary MuiInputBase-fullWidth MuiInputBase-formControl MuiInputBase-adornedStart MuiInputBase-adornedEnd MuiAutocomplete-inputRoot css-uqpg96-MuiInputBase-root-MuiOutlinedInput-root" */
/* MuiInputBase-root MuiOutlinedInput-root MuiInputBase-colorPrimary MuiInputBase-fullWidth MuiInputBase-formControl MuiInputBase-adornedEnd MuiAutocomplete-inputRoot css-1wxwjf-MuiInputBase-root-MuiOutlinedInput-root */
